body {
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

.side-menu {
    position: absolute;
    overflow: hidden;
    width: 400px;
    left: -400px;
    height: 100%;
    background: #4484ff;
    transition: all 0.5s;
    color: #ffffff;
}
.side-menu__header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: flex-end;
    color: #ffffff;
    border-bottom: 1px solid #ffffff 
}
.side-menu__logo {
  margin-right: 50px; 
}

.side-menu__header-text {
    margin: 0 0 0 0;
}

.drop-field {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    margin: 5px;
    align-items: center;
    justify-content: center;
    border: 1px dashed #001b48;

}
.drop-field__icon {
    font-size: 50px;
}
.drop-field__text {
    margin: 10px 0;
}
.models {
    padding: 20px 5px;
}
.content-header-text {
    font-size: 30px;
    margin: 0;
}
.model {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
}

.model__name {
    margin: 0 0 10px 0;
}
.model__mode-icon {
    margin-right: 10px;
}
.model__mode-btn {
    background: #ffffff;
}
.active-mode {
    background: #03ec13;
}

.toggle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    left: 10px;
    background: none;
    z-index: 1000;
}
.toggle__bars {
    transition: color 0.5s;
    font-size: 40px;
    color: #000000;
}

.icon {
    font-size: 20px; 
}

.btn:focus {
    box-shadow: none;
}
.select-model {
    align-self: flex-start;
}