body {
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

.side-menu {
    position: absolute;
    overflow: hidden;
    width: 400px;
    left: -400px;
    height: 100%;
    background: #4484ff;
    transition: all 0.5s;
    color: #ffffff;
}
.side-menu__header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: flex-end;
    color: #ffffff;
    background: #001a41;
    border-bottom: 1px solid #ffffff 
}
.side-menu__logo {
  margin-right: 50px; 
}

.side-menu__header-text {
    margin: 0 0 0 0;
}

.drop-field {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    margin: 5px;
    align-items: center;
    justify-content: center;
    border: 1px dashed #001b48;
    order: 2;
}
.drop-field__icon {
    font-size: 50px;
}
.drop-field__text {
    margin: 10px 0;
}
.models {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
}
.first-model {
    order: 0;
}
.second-model {
    order: 1;
}
.content-header-text {
    font-size: 30px;
    margin: 0;
}
.model {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 0 10px;
    border-bottom: 1px solid #ffffff;
}
.model__top-btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.model__name {
    margin: 0 0 10px 0;
}
.model__mode-icon {
    margin-right: 10px;
}
.model__mode-btn {
    background: #ffffff;
}
.model__view {
    margin-bottom: 5px; 
}
.active-mode {
    background: #02c70f;
    color: #ffffff;
}

.toggle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    left: 10px;
    background: none;
    z-index: 1000;
}
.toggle__bars {
    transition: color 0.5s;
    font-size: 40px;
    color: #000000;
}

.icon {
    font-size: 20px; 
}

.btn:focus {
    box-shadow: none;
}
.select-model {
    background: #df0000;
    color: #ffffff;
}
.select-model:hover {
    background: #b30202;
}
.select-model--active {
    background: #b30202;
}
.close-model {
    color: #ffffff;
    font-size: 32px;
    text-shadow: none;
    opacity: 1;
}
.progress-container {
    height: 187px;
    display: none;
    flex-direction: column;
    justify-content: center;
    order: 0;
}
.progress {
    height: 30px;
}
.progress__bar {
    transition: none;
}
.transform {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.transform__info {
    margin: 5px 0;
}
.transform__header {
    margin: 0;
}
.axis {
    margin-left: 5px;
    width: 80px;
    border-width: 0 0 1px 0;
    border-color: #ffffff;
    color: #ffffff;
    background: none;

}
.axis:disabled {
    color: #000000;
    border-color: #000000;
}
.axis-label {
    margin: 0 0 0 10px; 
}
.apply-transform {
    align-self: flex-end;
}